﻿
@{
    ViewBag.Title = "Logger";
}

@section Scripts{
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    @Scripts.Render("~/bundles/logger")

}

<div class="row">
    <div class="col-md-12" data-bind="visible: loading() === true">
        @Html.Partial("_Spinner")
    </div>
    <div class="col-lg-12" data-bind="visible: !loading()">
        <div class="panel panel-default">
            <div class="panel-heading">
                Logger database
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <button data-bind="click: beginFilter">Load</button>
                <div class="row">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example" data-bind="visible: numberOfEntries() > 0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Correlation Id</th>
                            <th>Request Date</th>
                            <th>Country</th>
                            <th>Version</th>
                            <th>Response Date</th>
                            <th>HttpCode</th>
                            <th>TimeCost</th>
                        </tr>
                        </thead>
                        <tbody style="display: none" data-bind="foreach: logItems, visible: !loading()">
                        <tr>
                            <td data-bind="text: id"></td>
                            <td data-bind="text: correlationId"></td>
                            <td data-bind="text: requestLogDateTime"></td>
                            <td data-bind="text: requestCountry"></td>
                            <td data-bind="text: requestHeaderVersion"></td>
                            <td data-bind="text: responseDateTime"></td>
                            <td data-bind="text: responseHttpStatusCode"></td>
                            <td data-bind="text: timeCost"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <ul class="pager" data-bind="ifnot: ((numberOfEntries() === 0))">
                            <li><span class="previous" data-bind="click: searchPrevious, style: { visibility: canSearchPrevious() ? 'visible' : 'hidden'}"><<</span></li>
                            <li><span class="index" data-bind="text: ' Records ' +  numberOfEntries()"></span></li>
                            <li><span class="next" data-bind="click: searchNext, style: { visibility: canSearchNext() ? 'visible' : 'hidden'}">>></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

